<!DOCTYPE html>
<html>
{{> layout/head}}

<body>

  <div class="app-container app-theme-white body-tabs-shadow">
    <div class="app-container">
        {{> layout/navbar}}
        {{{body}}}
    </div>
  </div>
  {{> layout/footer}}
  {{> layout/scripts}}
</body>

</html>