<!DOCTYPE html>
<html>
  {{> head}}
<body class="no-nav-banners three-col logged-in user-style-johnfpendleton ms-windows NotificationsPage supports-drag-and-drop buffer-twitter" data-fouc-class-names="swift-loading no-nav-banners" dir="ltr">
  {{#> navbar}}{{/navbar}}
  <div id="page-outer">
    <div id="page-container" class="AppContent wrapper wrapper-connect">
      {{{body}}}
    </div>
  </div>
  </div>
  {{> footer}}
</body>
</html>