<div class="app-main">
    <div class="app-main__outer">
        <div class="app-main__inner">
            <!-- TODO: Build a team-level filter -->
            <div class="row app-page-title">
                <div class="page-title-wrapper">
                    <div class="page-title-heading">
                        <div>
                            <h2>{{title}}</h2>
                            <div class="page-title-subheading"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row md-12">
                {{#each questions as |question|}}
                    <div class="col-md-4" style="margin-bottom: 0.5em">
                        <div class="main-card card">
                            {{!-- {{> components/chart question }} --}}
                            <div class="card-body">
                                <h5 class="card-title">{{question.label}}</h5>
                                <canvas id="{{chartName}}" chart-type="{{type}}" class="chartjs-render-monitor" style="display: block;">
                                </canvas>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

<script>
    $(`.chartjs-render-monitor`).each(function() {
        let id = $(this).attr('id')
            , type = $(this).attr('chart-type')
        $.ajax({
            url:`api/mapped-question/${id}`,
            success: (results) => {
                $(this).flyChart({type: results.type, style: results.style, data: results.data});
            },
            error: (error) => {
                console.log(error);
            }
        });
    });
</script> 
