<div class="modal-content" role="document">
    <div class="modal-header">
        <h3 class="modal-title">
            TITLE
        </h3>
    </div>
    <div class="modal-body">
        BODY
    </div>
    <div class="modal-footer">
        FOOTER
    </div>
</div>
<button type="button" class="modal-btn modal-close js-close">
    <span id="modal-close-button" class="Icon Icon--close Icon--medium">
        <span class="visuallyhidden">Close</span>
    </span>
</button>