.color1 { color: #280109}
.color2 { color: #2b010a}
.color3 { color: #a80124}
.color4 { color: #d90c37}
.color5 { color: #e31641}
.color6 { color: #d60934}
.color7 { color: #d30631}
.color8 { color: #d1042f}
.color9 { color: #ff436b}
.color10 { color: #ff718f}
.color11 { color: #6d7982}
.color12 { color: #808080}
.color13 { color: #8d99a2}
.color14 { color: #b1bcc5}
.color15 { color: #b8d2f1}
.color16 { color: #d2dbe3}
.color17 { color: #cbcbcb}
.color18 { color: #6e001b}
.color19 { color: #a7163a}
.color20 { color: #d54f61}
.color21 { color: #ff7982}
.color22 { color: #cf3a15}
.color23 { color: #ffff00}
.color24 { color: #ff6f13}
.color25 { color: #e6ecf0}

._0 { color: #000;}
._1 { color: #10171e;}
._2 { color: #14171a;}
._3 { color: #006dbf;}
._4 { color: #1c94e0;}
._5 { color: #1da1f2;}
._6 { color: #3b88c3;}
._7 { color: #657786;}
._8 { color: #66757f;}
._9 { color: #71c9f8;}
._10 { color: #97e3ff;}
._11 { color: #aab8c2;}
._12 { color: #c0c0c0;}
._13 { color: #ccd6dd;}
._14 { color: #e6ecf0;}
._15 { color: #eaf5fd;}
._16 { color: #f5f8fa;}
._17 { color: #fff;}
._18 { color: #ac002b;}
._19 { color: #e0245e;}
._20 { color: #f6809a;}
._21 { color: #ffb8c2;}
._22 { color: #f45d22;}
._23 { color: #ff0;}
._24 { color: #ffad1f;}
._25 { color: #17bf63;}