<div class="card-body">
    <h5 class="card-title">{{label}}</h5>
    <div>Got a chart</div>
    <!-- TODO: pies are way too big -->
    <canvas id="{{chartName}}" chart-type="{{type}}" class="chartjs-render-monitor" style="display: block;">
    </canvas>
</div>