<div class="card-body">
    <h5 class="card-title">{{label}}</h5>
    <div class="row">
        <!-- TODO: Iterate through answers -->
        <div class="code">Answers go here.</div>
    </div>
</div>